Repository atsushifx/.github: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

textlint:
  run: 'textlint --config ./configs/textlintrc.yaml --cache --cache-location .cache/textlint_cache "{staged_files}"
  
    '

markdownlint:
  run: 'markdownlint-cli2 --config ./configs/.markdownlint.yaml "{staged_files}"
  
    '

ci: CIワークフローを最新のGitleaksおよびsetup-binバージョンに更新
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

chore(configs): clean up legacy lint configs and update formatting setup
  .gitignore
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

ci(workflow): シークレットスキャンワークフローを更新
  .github/workflows/ci-secrets-scan.yml
Due: secretlint

Create codeql-actions-only
  .github/workflows/codeql-actions-only
Due: secretlint

config: add commit hook, textlint/markdownlint configs, and CLAUDE project guide
  .gitignore
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  CLAUDE.md
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/prh-my-settings.yml
  configs/.textlint/dict/prh.yml
  configs/textlintrc.yaml
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

ci(workflow): codeql ワークフローの拡張子を .yml に統一
  .github/workflows/codeql-actions-only.yml
Due: secretlint

merge(#9): config: add commit hook, textlint/markdownlint configs, and CLAUDE project guide
  .github/workflows/codeql-actions-only.yml
  .gitignore
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  CLAUDE.md
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/prh-my-settings.yml
  configs/.textlint/dict/prh.yml
  configs/textlintrc.yaml
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

config(FUNDING): スポンサー設定をFUNDING.mdから.github/FUNDING.ymlへ移行
  .github/FUNDING.yml
Due: secretlint

docs(claude): localize and refine project guide structure
  CLAUDE.md
Due: none

docs: update repository policies and clean up redundant templates
  .github/CODE_of_CONDUCT.ja.md
  .github/CODE_of_CONDUCT.md
  .github/SECURITY.md
  CODE_of_CONDUCT.ja.md
  CODE_of_CONDUCT.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  LICENSE
  LICENSE.ja
Due: secretlint, textlint, markdownlint

docs(readme): fully revise shared infrastructure guides and add language links
  README.ja.md
  README.md
Due: none

merge (#10): docs(repository): standardize base repository documentation and configuration
  .github/CODE_of_CONDUCT.ja.md
  .github/CODE_of_CONDUCT.md
  .github/FUNDING.yml
  .github/SECURITY.md
  CLAUDE.md
  CODE_of_CONDUCT.ja.md
  CODE_of_CONDUCT.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  LICENSE
  LICENSE.ja
  README.ja.md
  README.md
Due: secretlint, textlint, markdownlint

ci(workflow): シークレットスキャンの実行環境を更新し、CodeQLワークフローを整理
  .github/workflows/ci-secrets-scan.yml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

ci(workflow): シークレットスキャンの実行環境を更新し、CodeQLワークフローを整理 (#11)
  .github/workflows/ci-secrets-scan.yml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

docs: add community health files overview and repository structure
  CLAUDE.md
  README.ja.md
  README.md
Due: none

merge (#12): docs: add community health files overview and repository structure
  CLAUDE.md
  README.ja.md
  README.md
Due: none

config(editorconfig): .editorconfig のヘッダーコメントを整理しライセンス表記を追加
  .editorconfig
Due: none

merge (#13): config(editorconfig): .editorconfig のヘッダーコメントを整理しライセンス表記を追加
  .editorconfig
Due: none

ci(workflow): シークレットスキャンワークフローを共通名にリネーム
  .github/workflows/ci-common-scan-secrets.yml
Due: secretlint

merge (#15): ci(workflow): シークレットスキャンワークフローを共通名にリネーム
  .github/workflows/ci-common-scan-secrets.yml
Due: secretlint

config(gitignore): .gitignore に .cc-sdd/ を追加
  .gitignore
Due: none

config(cspell): プロジェクト辞書に sdd/SDD を追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

merge (#16): config(gitignore): add sdd tool artifacts to ignore patterns
  .gitignore
  .vscode/cspell/dicts/project.dic
Due: secretlint

ci(workflows): add reusable actionlint workflow and shared config
  .github/workflows/ci-common-lint-actionlint.yml
  configs/actionlint.yaml
Due: secretlint

merge #17; ci(workflows): add reusable actionlint workflow and shared config
  .github/workflows/ci-common-lint-actionlint.yml
  configs/actionlint.yaml
Due: secretlint

config(cspell): プロジェクト辞書に単語を追加
  .vscode/cspell/dicts/project.dic
Due: secretlint

ci(workflows): refine lint/scan workflows and unify ghalint co:wqnfig usage
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/ci-common-scan-secrets.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  configs/ghalint.yaml
Due: secretlint

merge #18: ci(workflows): refine lint/scan workflows and unify ghalint config usage
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/ci-common-scan-secrets.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .vscode/cspell/dicts/project.dic
  configs/ghalint.yaml
Due: secretlint

config(gitignore): gitignore を更新し、CLAUDE.md を追跡対象に含める
  .gitignore
Due: none

merge (#19); config(gitignore): gitignore を更新し、CLAUDE.md を追跡対象に含める
  .gitignore
Due: none

docs: consolidate and update project documentation
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  README.ja.md
  README.md
Due: secretlint, textlint, markdownlint

merge (#20); docs: consolidate and update project documentation
  .github/PULL_REQUEST_TEMPLATE.md
  CLAUDE.md
  README.ja.md
  README.md
Due: secretlint, textlint, markdownlint

ci(workflows): reuseable workflowsをリポジトリからの呼び出しにし統一
  .github/workflows/ci-scan-all.yml
  configs/ghalint.yaml
Due: secretlint

merge (#21): ci(workflows): reuseable workflowsをリポジトリからの呼び出しにし統一
  .github/workflows/ci-scan-all.yml
  configs/ghalint.yaml
Due: secretlint

ci(workflow): ghalint で設定ファイルを読み込み
  .github/workflows/ci-common-lint-ghalint.yml
Due: secretlint

merge (#22): ci(workflow): ghalint で設定ファイルを読み込み
  .github/workflows/ci-common-lint-ghalint.yml
Due: secretlint

ci(workflows): 設定ファイル参照ブランチを releases に変更
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
Due: secretlint

ci(workflows): releases ブランチをトリガー対象に追加
  .github/workflows/ci-scan-all.yml
Due: secretlint

ci(workflows): 再利用ワークフロー参照を releases 用タグ r1.0.0 にピン留め
  .github/workflows/ci-scan-all.yml
Due: secretlint

ci(workflows): 再利用ワークフロー参照を r1.0.0 タグに修正
  .github/workflows/ci-scan-all.yml
Due: secretlint

Path conditions:
  secretlint: any of: **/*
  textlint: any of: **/*.md
  markdownlint: any of: **/*.md
