Repository atsushifx/.github: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

secretlint:
  run: 'secretlint --secretlintrc ./configs/secretlint.config.yaml --secretlintignore .gitignore --maskSecrets "{staged_files}"
  
    '

textlint:
  run: 'textlint --config ./configs/textlintrc.yaml --cache --cache-location .cache/textlint_cache "{staged_files}"
  
    '

markdownlint:
  run: 'markdownlint-cli2 --config ./configs/.markdownlint.yaml "{staged_files}"
  
    '

merge (#23): ci(workflows): 再利用ワークフロー参照を r1.0.0 タグに修正
  .github/workflows/ci-scan-all.yml
Due: secretlint

merge (#24): ci(workflows): 再利用ワークフロー参照を r1.0.0 タグに修正
  .github/workflows/ci-scan-all.yml
Due: secretlint

config(gitignore): node_modules を無視する設定を追加
  .gitignore
Due: none

---- 2025-11-21 09:47:25
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

ci(workflows): 再利用ワークフロー参照タグを r1.0.1 に更新
  .github/workflows/ci-scan-all.yml
Due: secretlint

merge (#26): ci(workflows): update reusable workflow references and GitHub Actions versions
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .gitignore
Due: secretlint

ci(workflows): update reusable workflow references and GitHub Actions versions (#27)
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .gitignore
Due: secretlint

ci(workflows): gitleaks を 8.30.0 に更新
  .github/workflows/ci-common-scan-gitleaks.yml
Due: secretlint

merge (#28): ci(workflows): gitleaks を 8.30.0 に更新
  .github/workflows/ci-common-scan-gitleaks.yml
Due: secretlint

Merge branch 'main' into releases
  .github/workflows/ci-scan-all.yml
Due: secretlint

Merge branch 'main' into releases (#29)
  .github/workflows/ci-scan-all.yml
Due: secretlint

docs(template): issue テンプレートを追加
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/release.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: secretlint

docs(license): 著作権表記の連絡先を GitHub リンクに更新
  LICENSE
  LICENSE.ja
Due: none

merge (#30): docs(template): add issue templates and update license contact
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/release.yml
  .github/ISSUE_TEMPLATE/task.yml
  LICENSE
  LICENSE.ja
Due: secretlint

config: normalize repo configs and tooling settings
  .editorconfig
  .gitignore
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
  configs/textlintrc.yaml
Due: secretlint

feat: improve AI-based commit message workflow
  .claude/agents/commit-message-generator.md
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

docs(github): update security policy links and scope
  .github/SECURITY.md
Due: secretlint, textlint, markdownlint

docs(github): clean up PR and issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/open_topic.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, textlint, markdownlint

ci(workflows): adjust branch filters and switch reusable workflows
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
Due: secretlint

merge (#31): ci(workflows): consolidate CI/CD configuration and improve shared infrastructure
  .claude/agents/commit-message-generator.md
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/open_topic.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/workflows/ci-common-lint-actionlint.yml
  .github/workflows/ci-common-lint-ghalint.yml
  .github/workflows/ci-common-scan-gitleaks.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .gitignore
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  configs/.textlint/dicts/prh-my-settings.yml
  configs/.textlint/dicts/prh.yml
  configs/textlintrc.yaml
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

config(gitignore): ignore .tools directory
  .gitignore
Due: none

config(commitlint): switch config export to commonjs
  configs/commitlint.config.js
Due: secretlint

config(textlint): extend allowlist regex patterns
  configs/.textlint/allowlist.yml
Due: secretlint

config(markdownlint): align table column style
  configs/.markdownlint.yaml
Due: secretlint

config(vscode): add textlint-dic and set copyright range
  .vscode/cspell.json
Due: secretlint

chore(scripts/setup): add local dev env setup script
  scripts/setup-dev-env.sh
Due: secretlint

ci(workflows/codeql): remove codeql actions-only workflow
  .github/workflows/codeql-actions-only.yml
Due: secretlint

ci(workflows/scan-all): update reusable workflow versions
  .github/workflows/ci-scan-all.yml
Due: secretlint

mergbe (#32): chore(ci,config,scripts): update infrastructure and configs
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only.yml
  .gitignore
  .vscode/cspell.json
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/commitlint.config.js
  scripts/setup-dev-env.sh
Due: secretlint

Path conditions:
  secretlint: any of: **/*
  textlint: any of: **/*.md
  markdownlint: any of: **/*.md
